<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nebula</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section id="main-display">
    <div id="to-do">
      <canvas id="node-layer" class="canvas"></canvas>
      <canvas id="animation-layer" class="canvas"></canvas>
    </div>
  </section>
  <script src="/main.js" type="module"></script>
</body>
</html>