<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nebula</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section>
    <p>Nebula</p>
    <p><input id="userform" class="frm" type="text" placeholder=" User:"></p>
    <p><input id="passform" class="frm" type="password" placeholder=" Password:"></p>
    <p><button id="create" class="btn">Login</button></p>
    <p><button id="newuser" class="btn">Create New Account</button></p>
  </section>
  <script src="/login.js" type="module"></script>
</body>
</html>