<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nebula</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section id="main-display">
    <div id="login">Login</div>
  </section>
  <script src="/main.js"></script>
</body>
</html>