<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nebula</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section>
    <div id="user">User:</div>
    <div id="password">Password:</div>
    <div id="create">LOGIN</div>
  </section>
  <script src="/login.js"></script>
</body>
</html>