<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nebula</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section>
    <p>Nebula</p>
    <p><input id="userform" type="text" placeholder=" User Name:"></p>
    <p><input id="passform" type="password" placeholder=" Password:"></p>
    <button id="create" class="btn">Create Account</div>
  </section>
  <script src="/new_user.js" type="module"></script>
</body>
</html>