html, body {
    background-color: black;  
    padding: 0; 
    margin: 1%;
    height: 130%;
    font-family: monospace;
    color: aqua;
    text-align: center;
    font-size: 30px;
    
}




section {
    display: block;

    clear: both;
    height: 80%;
}



